<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host" value="localhost"/>
    <add key ="usuario" value="usuar"/>
    <add key="password" value="usuar"/>
    <add key="instancia" value="comercial_camargo"/>
    <add key ="directorios" value="C:\"/>
  </appSettings>
</configuration>